/* Start Header Section */


.header{
    background-color: brown;
}
.container-full{
    margin:0 auto;

    width: 100%;
    height: 100%;
}    
.container{
    margin: 0 auto;
    width: 1150px;
    padding: 0px;
}
.container::before,
.container::after,
.container-full:before,
.container-full:after{
    content: "";
    display: table;
    clear: both;
}

.col-30{
    float: left;
    margin-top: 10px;
}
.col-70 ul li{
    float: right;
    padding:20px 5px;
    list-style: none;
    margin: 0 9px;

}
.col-70 ul li a{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    transition: 2s;
    padding: 10px;
    font-size: x-large;
    color: aqua;
}
.col-70 ul li a:hover{
    background-color: aqua;
    color: red;
    border-radius: 50px;
    
}

/* Start body Section */

.col-20{
    width: 20%;
    float: left;
}
.col-25{
    float: left;
    width: 24%;
}
.col-33{
    float: left;
    width: 32%;
}
.col-40{
    float: left;
    width: 39%;
}
.col-50{
    width: 49%;
    padding-top: 10px;
    float: left;
}
.col-60{
    float: left;
    width: 59%;
}
.col-70{
    width: 69%;
    float: right;
}
.cel{
    padding: 5px;
}
p{
    font-size: 25px;
}

/* section 02 */

.section2{
    background-image: url(../Img/img1.png);
    background-color: #303740;
    background-position: center;
    background-repeat: no-repeat;
}

.section2 .container h1{
    font-size: 50px;
    color: #fff;
    border-bottom: 10px solid red;
    display: inline-block;

}
.section2 .container p{
    font-size: 40px;
    color: aqua;
}


/* section 03 */
.sectio03 div div .section03-1{
    padding-right: 5px;
    float: left;
}
.sectio03 div div .section03-1 span{
    font-size:30px;
    color: red;
}
.sectio03 div div .section03-1 h1{
    font-size: 40px;
}
.sectio03 div div .section03-1 p{
    padding-top: 20px;
    padding-bottom: 100px;
}
.sectio03 div div .section03-1 a{
    text-decoration: none;
    border: 3px red solid;
    padding: 15px;
    font-size: 30px;
    transition: 1s;
}
.sectio03 div div .section03-1 a:hover{
    background-color: aqua;
    border-radius: 30px;
}

/* */

.sectio03 div div .section03-s .cel{
    padding: 30px;
    margin: 0 5px;
    transition: 1s;
    
}
.sectio03 div div .section03-2 .section03-s .cel:hover{
    background-color: #EAB830;
    border-radius: 20%;
}
.sectio03 div div .section03-2 .section03-s h1{
    color: red;
    font-size:30px;
}



/* section 04 */

.section05 .container-full{
    background-color: #111A2D;
    margin-top: 5px;
}
.section05 .container-full .container{
    padding: 100px 0;
    background: url(../Img/img16.png);
    background-repeat: no-repeat;
    background-position: center;
}
.section05 .container-full .container .col{
    margin: 50px 70px;
}
.section05 div h1{
    font-size: 40px;
    color: red;
}
.section05 .container-full .container .col .col-25{
    padding: 5px 0;
    margin: 5px;
    text-align: center;
    height: 195px;
    width: 230px;
    transition: 0.3s;
}
.section05 .container-full .container .col .col-25:hover{
    transform: scale(1.5);
    
}

.section05 .container-full .container .col .col-25 a img{
    padding-top: 50px;
}
.section05 .container-full .container .col .col-25 a{
    text-decoration: none;
}
.section05 .container-full .container .col .col-25 a span{
    text-align: center;
    color: blue;
    font-size: 25px;
}
.section05 .container-full .container .col .col-1{
    background-color: #EAB830;
}
.section05 .container-full .container .col .col-2{
    background-color: #FA394A;
}
.section05 .container-full .container .col .col-3{
    background-color: #6AD59A;
}
.section05 .container-full .container .col .col-4{
    background-color: #B4B4B4;
}



/* section 05 */

.section04 .container-full .container .container04-1{
    background-color: #2777B5;
    padding-left: 5px;
    float: left;
}
.section04 .container-full .container .container04-1 video{
    background-color: #2777B5;
    padding-top: 10px;
}

.section04 .container-full .container .container04-1 h1{
    color: red;
    
}
.section04 .container-full .container .container04-1 span{
    color: #fff;
    
}


/* */
.section04 .container-full{
    background-color: #ffffff;
}
.section04 .container-full .container{
    padding:10px 0;
}
.section04 .container-full .container .container04-2{
    text-align: center;
    background-color: #F5F5F5;
    margin: 155px 5px;
    padding: 50px 2px;

}
.section04 .container-full .container .container04-2 .border{
    border-right: 1px #1E1E1E solid;
    
}
.section04 .container-full .container .container04-2 .col-33 img{
    padding: 0 60px;
    text-align: center;
}
.section04 .container-full .container .container04-2 .col-33 div{
    text-align: center;
}
.section04 .container-full .container .container04-2 .col-33:hover{
    background-color: #2777B5;
}


/* */
.section04 .container-full .container div .container04-3{
    padding-left: 10px;
    background: url(../Img/img10.png);
    
}
.section04 .container-full .container .container04-3 div{
    padding: 72px 0;
}

/* section 06 */

.section06{
    background-color: #EBEBEB;
}
.section06 #container-full{
    background-color: #111A2D;
}
.s6-top{
    display: block;
    width: auto;
    
}
.s6-top .top h1{
    color: red;
    font-size: 40px;
    display: inline-block;
}
.s6-top .top a{
    float:right;
    display: inline-block;
    margin: 35px 10px;
    padding: 15px 20px;
    background-color: #FA394A;
    color: #111A2D;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    
}
.section06 .col-33{
    margin-top: 10px;
    
}
.section06 .col-33 .col-33-1,
.section06 .col-33 .col-33-2,
.section06 .col-33 .col-33-3,
.section06 .col-33 .col-33-4,
.section06 .col-33 .col-33-5{
    margin-bottom: 20px;
}
.section06 .col-33 .col-33-1{
    background-image: url(../Img/img17.png);
    background-repeat: no-repeat;
    width: 365px;
    height: 235px;
    
}
.section06 .col-33 .col-33-1 div,
.section06 .col-33 .col-33-4 div{
    padding: 20px 15px;
    color: rgb(255, 0, 0);
    padding-top: 110px;
}
.section06 div .col-33 .col-33-3 span,
.section06 div .col-33 .col-33-3 h1{
    color: #FA394A;
}
.section06 .col-33 .col-33-2{
    color: #f72f40;
}
.section06 .col-33 .col-33-3{
    color: #FA394A;
}
.section06 .col-33 .col-33-4{
    background-image: url(../Img/19.png);
    background-repeat: no-repeat;
    width: 365px;
    height: 235px;
    
}




/* section 07 */
.section07{
    background-color: #B4B4B4;
}
.section07 .top{
    display: block;
    width: auto;
    
}
.section07 .top h1{
    color: red;
    font-size: 40px;
    display: inline-block;
}
.section07 .col-33 div{
    padding: 5px 10px;
    
}
.section07 .col-33 .date{
    color: #ef23f9;
    background-color: #EBEBEB;
    padding: 0 5px;
    font-size: 18px;
}
.section07 .col-33 .time{
    float: right;
    color: #ef23f9;
    background-color: #EBEBEB;
    padding: 0 5px;
    font-size: 18px;
}
.section07 .coll-33 h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #1E1E1E;
}


/* section 08 */

.section08{
    background-color: #5F324F;
    padding-bottom: 20px;
}
.section08 .top{
    display: block;
    width: auto;
    
}
.section08 .top h1{
    color: red;
    font-size: 40px;
    display: inline-block;
}
.section08 .teacher-1 .col-33{
    background-color: #fff;
    height: 400px;
    width: 260px;
    margin: 50px;
}
.section08 .teacher-1 .col-33 h1{
    font-size: 25px;
    color: #333333;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section08 .teacher-1 .col-33 span{
    color: #F9394A;
    padding-left: 20px;
    font-size: 18px;
}
.section08 .teacher-1 .col-33 h1, span{
    padding-left: 10px;
}
/**/
.section08 .teacher-2 #h1{
    color: #111A2D;
    font-size: 30px;
    padding-bottom: 10px;
}
.section08 .teacher-2 .col-25{
    background-color: #fff;
    margin: 5px;
}
.section08 .teacher-2 #h1{
    padding-left: 20px;
    color: red;
}
.section08 .teacher-2 .col-25 h1{
    padding: 10px 30px;
    color: blue;
}
.section08 .teacher-2 .col-25 ul li{
    padding-left: 30px;
    list-style: none;
}
.section08 .teacher-2 .col-25 ul li a{
    text-decoration: none;
    color: #333333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* section 09 */

.section09 .container-full{
    background-color: #FFFFFF;
}
.section09 .container{
    padding: 100px 0;
}
.section09 .container .col-25{
    margin:  5px;
    background-color: #d0cccc;
    text-align: center;
    padding-top: 15px;
}
.section09 .container .col-25 img{
    display: inline;
    margin-bottom: 10px;
    padding: 0 89px;
}
.section09 .container .col-25 div{
    padding-bottom: 20px;
    
}
.section09 .container .col-25 div a{
    
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #333333;
    border: 1px black solid;
    padding: 5px;
}






/* End Body Section*/

/* Start Footer Section */
.footer{
    background-color: #18254A;
    padding-top: 10px;
}
.footer .col-25{
     width: 24%;
    display: inline-block;
}
.footer .footer-padding{
    padding-left: 10px;
    margin: 60px 0;
}
.footer .col-25{
    padding-bottom: 20px;
}
footer .col-25 h1{
    color: red;
    
}
footer .col-25 .h1{
    padding-left: 30px;
}
footer .col-25 div p{
    color: #fff;
}
footer .col-25 li{
    list-style: none;
    color: #fff;
}
footer .col-25 li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
 /*End Footer Section */